@import "http://fonts.googleapis.com/css?family=Ubuntu";
body{
margin:0;
padding:0;
font-family:'Times New Roman', Times, serif;
}

hr{
  border:0;
  border-top:1px solid #ccc;
  margin-bottom:30px
  }

.custom-select
{
  margin: 10px;
  width: 260px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*.custom-select
{
  width: 225px;
	height: 40px;
	cursor: pointer;
	background-color: white;
	box-shadow: 0 2px 0 white;
	border-radius: 2px;
	
	&_expand {
		width: 0;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		
		&::after {
			content: '\003E';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
			color: #3e3e3e;
			font-size: 28px;
			pointer-events: none;
			z-index: 2;
			transition: all 250ms cubic-bezier(.4,.25,.3,1);
			opacity: .6;
		}
		
		&:hover::after {opacity: 1}

		&:checked::after {transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);}
	}
	
	&_expandLabel {
		display: block;
		width: 100%;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	
	&_close {display: none}
	
	&_closeLabel {
		width: 100vw;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		display: none;
	}
	
	&_items {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 2px solid #2fb5d1;
		border-radius: 2px;
		padding-top: 40px;
	}
	
	&_input {display: none}
	
	&_label {
		transition: all 250ms cubic-bezier(.4,.25,.3,1);
		display: block;
		height: 0;
		font-size: 1.2rem;
		line-height: 40px;
		overflow: hidden;
		color: #3e3e3e;
		background-color: #fff;
		cursor: pointer;
		padding-left: 20px;
		
		&-placeholder {
			height: 40px;
			vertical-align: middle;
			position: absolute;
			top: 0;
			left: 0;
			opacity: .6;
			background-color: transparent;
		}
	}
	
	&_expand:checked {
		+ .select_closeLabel {
			display: block;
			
			+ .select_options {
				.select_label {
					height: 40px;
					&:hover {background-color: #f7f7f7}
				}
				
				+ .select_expandLabel {display: none}
			}
		}
	}
	
	&_input:checked + .select_label {
		height: 40px;
		margin-top: -40px;
	}
}
*/

.labelstyle{
  padding-right: 20px;
  font-family: Times New Roman, Times, serif;
  position: relative;
  font-size : 20px;
}

/* The container */
.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 40px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

.submit {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 #999;
}

.submit:hover {background-color: #3e8e41}

.submit:active {
  background-color: #3e8e41;
  box-shadow: 0 0 #666;
  transform: translateY(4px);
}